*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  background: linear-gradient(to bottom, #27ae60, #3498db)
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 90px;
}


header .logo{
  position: relative;
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  color: aliceblue;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: 0.6s;
}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  position: relative;
  list-style: none;
}
header ul li a{
  position: relative;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0px 15px;
  text-decoration: none;
  color: #27ae60;
  transition: background-color 0.3s ease, color 0.3 ease;
}
header ul li a:hover{
  background-color: #27ae60;
  color: #fff;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 150px;
}
main form input{
  padding: 20px;
  border: 3px solid gray;
  border-radius: 10px;
  font-size: 24px;
  transition: border-bottom 0.1s ease;
}
main form input:focus{
  border-bottom: 3px solid  #27ae60;

  outline: none;
}

main form,ul{
  margin-left: 20px;
}

main form button{ 
  border: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #27ae60;
  background: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}
main form button:hover{
  background-color: #27ae60;
  color: #fff;
  border-radius: 10px;
}

main ul{
  margin-top: 20px;
}

main ul li{
  margin-top: 20px;
  background: #2c3e50;
  width: 27%;
  padding: 20px;
  font-size: 20px;
  list-style: none;
  border-radius: 10px;
  color: #ecf0f1;
}
main ul p{
  margin: 10px 15px;
  background: #2c3e50;
  padding: 20px;
  width: 15%;
  border-radius: 5px;
  font-size: 20px;
  color: #27ae60;
  font-weight: 700;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

header.sticky{
  padding: 5px 100px;
  background: linear-gradient(to bottom, #27ae60, #3498db);

}
header.sticky .logo,
header.sticky ul li a{
  color: #000;
}

@media (max-width:1200px){
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 200px;
  }
  main ul p{
    width: 30%;
  }
}
@media (max-width: 1550px) {
  main ul p {
    width: 20%;
  }
}
@media (max-width: 1170px) {
  main ul p {
    width: 25%;
  }
}
@media (max-width: 950px) {
  main ul p {
    width: 30%;
  }
}
@media (max-width: 800px) {
  main ul p {
    width: 50%;
  }
}